*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #4ed28e;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    margin-left: 170px;
    margin-bottom: 5px;
}

nav ul a{
    color: aliceblue;
    text-decoration: none;
}

nav ul a:hover{
    color: blueviolet;
    transition: .3s;
}

#titulo{
    align-content: center;
    margin-top: 30px;
    justify-items: center;
    text-align: center;
}

header h1 span{
    color: #ff0000;
}

#emergencia{
    margin-top: 20px;
}

.imagens{
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#pano{
    height: 306px;
    width: 568px;
    margin: auto;
    display: block;
    margin-top: auto;
    margin-bottom: 20px;
}
